doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/socket.io.js')

    link(rel='stylesheet', href='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js')

    script(type='text/javascript').
      global = {
          userId: null,
          socket: null,
          ons: [],

          on: function (event, callback) {
              this.isInited
                  ? socket.on(event, callback)
                  : this.ons.push({event: event, callback: callback});
          }
      };

  block script

  body(style="background-color:black")
    div.container-fluid.mt-3
      block content

  script(type='text/javascript').
      var socketHost = "#{socketHost}";
      var socketPort = "#{socketPort}";
      global.userId = parseInt("#{currentUserId}");

      if (!global.userId) {
          alert('Пользователь не инициализирован, перезагрузите страничку');
      }

      if (global.userId) {
          var socket = io.connect(socketHost + ':' + socketPort);

          // Начинаем работу только после проверки пользователя
          socket.emit('user.init', global.userId, function () {
              global.socket = socket;
              global.emit = function (event, message, callback) {
                  socket.emit(event, message, callback);
              };

              for (var i in global.ons) {
                  socket.on(global.ons[i].event, global.ons[i].callback)
              }
          });
      }

      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      });

      global.button = function (el, savedText) {
          var originalText = el.removeClass('btn-outline-primary').addClass('btn-success').text();
          el.text(savedText);
          setTimeout(function () {
              el.addClass('btn-outline-primary').removeClass('btn-success').text(originalText);
          }, 500);
      };