div.card
  div.card-block
    h4.card-title.m-0 Пользователи онлайн
  ul.list-group.list-group-flush#users-online
    each user in users
      if user.status == 'online'
        include ./online-item
script(type='text/javascript').
  global.on('user.changed', function (response) {
      var el = $("#user_" + response.user.id);

      // Пользователь ушел в offline, удаляем его
      if (response.user.status == 'offline') {
          el.remove();
          return;
      }

      // Пользователь уже есть, заменяем новыми данными
      if (el.length) {
          el.replaceWith(response['online-item']);
          return;
      }

      // Пользователя нет, добавляем
      if (!el.length) {
          $("#users-online").append(response['online-item']);
      }
  });

  global.on('user.add', function (response) {
      //Пользователь уже есть
      var userItem = $("#user_" + response.id);
      if (userItem.length) {
          userItem.replaceWith(response['online-item']);
          return;
      }

      $("#users-online").append(response['online-item']);
  });